.topic {
  background-color: #272727;
  padding: 160px 0 30px;
  border-radius: 10px;
  margin: 38px 40px 110px;
}

.topic__title {
  max-width: 730px;
  margin: 0 auto 151px;
  box-sizing: border-box;
  padding: 0 5px;
  font-weight: 400;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 58px;
  text-align: center;
}

@media (max-width: 768px) {

  .topic {
    padding: 350px 0 30px;
    margin: 38px 20px 90px;
  }

  .topic__title {
    max-width: 680px;
    margin: 0 auto 314px;
    padding: 0 34px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

}

@media (max-width: 320px) {

  .topic {
    padding: 220px 0 17px;
    margin: 14px 14px 70px;
  }

  .topic__title {
    margin: 0 auto 212px;
    padding: 0;
    font-size: 29px;
    line-height: 37px;
  }

}