.description {
  width: 100%;
  box-sizing: border-box;
  padding: 0 70px 100px;
}

.description__title {
  margin: 0 0 70px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding-bottom: 23px;
  border-bottom: 1px solid #FFFFFF;
}

.description__list {
  margin: 0 0 110px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.description__items {
  min-width: 96px;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-right: 40px;
}

.description__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 26px;
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.description__stages {
  display: grid;
  grid-template-columns: minmax(95px, 20%) minmax(95px, 1fr);
  gap: 14px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.description__time {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
  padding: 9px 0;
}

.description__time_color_green {
  background-color: #3DDC84;
  color: #000000;
}

.description__time_color_grey {
  background-color: #303030;
  color: #FFFFFF;
}

.description__stage {
  font-weight: 500;
  margin: 0;
  color: #8B8B8B;
}

@media (max-width: 768px) {

  .description {
    padding: 0 50px 90px;
  }

  .description__list {
    margin: 0 0 93px;
  }

  .description__items {
    margin-right: 30px;
  }

  .description__subtitle {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 22px;
  }

  .description__text {
    font-size: 11px;
    line-height: 16px;
  }

  .description__stage {
    font-weight: 400;
  }

}

@media (max-width: 600px) {

  .description {
    padding: 0 18px 70px;
  }

  .description__title {
    margin: 0 0 60px;
    padding-bottom: 28px;
  }

  .description__list {
    margin: 0 0 60px;
    flex-direction: column;
    row-gap: 56px;
  }

  .description__items {
    margin-right: 0;
  }

  .description__subtitle {
    margin: 0 0 16px;
  }

  .description__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .description__stages {
    gap: 10px 0;
    font-size: 11px;
    line-height: 13px;
  }

}